@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
  @apply w-full;
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded;
}

.borderBlack {
  @apply border border-black/10;
}
